In [ ]:
'''
CLASS: Pandas for Data Exploration, Analysis, and Visualization
WHO alcohol consumption data:
    article: http://fivethirtyeight.com/datalab/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/    
    original data: https://github.com/fivethirtyeight/data/tree/master/alcohol-consumption
    files: drinks.csv (with additional 'continent' column)
'''

# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
# read in the CSV file from a URL
drinks = pd.read_csv('https://raw.githubusercontent.com/sinanuozdemir/SF_DAT_15/master/data/drinks.csv')

In [ ]:
type(drinks)

In [ ]:
drinks
# drinks.head()
# drinks.tail()

## examine the dataset

In [ ]:
drinks.shape

In [ ]:
drinks.dtypes

In [ ]:
# Numerical description
drinks.describe()

In [ ]:
drinks.info()

## search for missing / problem data

In [ ]:
drinks.isnull()

In [ ]:
drinks.isnull().sum()

In [ ]:
drinks.fillna(value='NA')

## Load the corrected dataset

In [ ]:
drinks = pd.read_csv('https://raw.githubusercontent.com/sinanuozdemir/SF_DAT_15/master/data/drinks.csv', na_filter=False)
drinks.isnull().sum()

# Single Column Selection

In [ ]:
drinks['continent']

In [ ]:
drinks.continent

In [ ]:
# Series if pandas equivalent to list
type(drinks.continent)

In [ ]:
# Describe a single variable
drinks.continent.describe()

In [ ]:
# Value counts is very useful - count by group
drinks.continent.value_counts()

# Multiple column selections

In [ ]:
'''
note the double square bracket
the outer pair is used like in a python dictionary
    to select
the inner pair is a list!
so in all, the double use of square brackets is telling
the dataframe to select a list!
'''

drinks[['country', 'beer_servings']]

In [ ]:
my_cols = ['country', 'beer_servings']
drinks[my_cols]

In [ ]:
# add a new column as a function of existing columns
drinks['total_servings'] = drinks.beer_servings +   drinks.spirit_servings + drinks.wine_servings
drinks.head()

# Logical Filtering and sorting
* R-style dataframe selectors

In [ ]:
drinks[drinks.continent == "EU"]

In [ ]:
'''
How it works:
    drinks.continent=='EU' by itself returns a bunch
        of Trues and Falses
        See?
    when you wrap drinks around it with square brackets
    you're telling the drinks dataframe to select
    only those that are True, and not the False ones
    drinks[drinks.continent=='EU']
'''

drinks.continent=='EU'

In [ ]:
# North American countries with total servings
drinks[['country', 'total_servings']][drinks.continent=='NA']

In [ ]:
# same thing, sorted by total_servings
drinks[['country', 'total_servings']][drinks.continent=='NA'].sort_index(by='total_servings')

In [ ]:
# contries with wine servings over 300 and total liters over 12
drinks[(drinks.wine_servings > 300) & (drinks.total_litres_of_pure_alcohol > 12)]

In [ ]:
drinks[drinks.wine_servings > drinks.beer_servings]

In [ ]:
# last 5 elements of the dataframe sorted by beer servings
drinks.sort('beer_servings', ascending=False).head()

In [ ]:
# average North American beer consumption
"""
Note the procedure:
drinks                                          Dataframe
drinks.beer_servings                            one column (Series)
drinks.beer_servings[drinks.continent=='NA']    logical filtering
drinks.beer_servings[drinks.continent=='NA'].mean() mean of that filtered column
"""

drinks.beer_servings[drinks.continent=='NA'].mean()

In [ ]:
# average European beer consumption
drinks.beer_servings[drinks.continent=='EU'].mean()

# Split - Apply - Combine

In [ ]:
# for each continent, calculate mean beer servings
drinks.groupby('continent').beer_servings.mean()

In [ ]:
# for each continent, count number of occurrences
print drinks.groupby('continent').continent.count()

In [ ]:
#equivalent
print drinks.continent.value_counts()

In [ ]:
# for each continent, calculate the min, max, and range for total servings
drinks.groupby('continent').total_servings.min()

In [ ]:
drinks.groupby('continent').total_servings.max()

In [ ]:
# We can apply any function using .apply
drinks.groupby('continent').total_servings.apply(lambda x: x.mean())    # mean

In [ ]:
# note x here is an entire series
drinks.groupby('continent').total_servings.apply(lambda x: x.std())     # standard deviation

# Plotting

## Bar

In [ ]:
# bar plot of number of countries in each continent
drinks.continent.value_counts().plot(kind='bar', title='Countries per Continent')
plt.xlabel('Continent')
plt.ylabel('Count')
plt.show()

In [ ]:
# bar plot of average number of beer servings by continent
drinks.groupby('continent').beer_servings.mean().plot(kind='bar')

## Histogram
 * Exploration of a single variable distribution

In [ ]:
# histogram of beer servings
drinks.beer_servings.hist(bins=20)

In [ ]:
# grouped histogram of beer servings
drinks.beer_servings.hist(by=drinks.continent)
print

In [ ]:
# same charts with the same scale for x and y axis
drinks.beer_servings.hist(by=drinks.continent, sharex=True, sharey=True)
print;

## Density plot
* Density _estimate_
* Smooth histogram
* Assumes normal distribution

In [ ]:
# density plot of beer servings
drinks.beer_servings.plot(kind='density')

In [ ]:
# same chart, with new x limit
drinks.beer_servings.plot(kind='density', xlim=(0,500))

## Boxplot

* Explore distributions of many related variables

In [ ]:
# boxplot of beer servings by continent
drinks.boxplot(column='beer_servings', by='continent')

## Scatterplot
* Explore relationship between multiple variables

In [ ]:
# scatterplot of beer servings versus wine servings
drinks.plot(x='beer_servings', y='wine_servings', kind='scatter', alpha=0.3)

In [ ]:
'''
np.where is like a condensed if statement
it's like a list comprehension for pandas!
it will loop through drinks.continent which is a series
for each element:
    if it is "EU":
        make it 'r'
    else:
        make it 'b'
More in depth:
    drinks.continent=='EU' is a logical statement
        It will return a bunch of Trues and Falses
        and np.where makes the True ones 'r' and
        the False ones 'b'
        
        Recall logical filtering!
'''

colors = np.where(drinks.continent=='EU', 'r', 'b')

In [ ]:
# Guess what this does?
np.where([True, False, False], 'a', 'b')

In [ ]:
drinks.plot(x='beer_servings', y='wine_servings', kind='scatter', c=colors)